<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>This is a production merchant and card will be charged.</p>
    <iframe src="https://www.clover.com/pay-widgets/080461f6-d15f-49db-bf3a-b24ff37d0c8d" style="width:100%; height: 100vh; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;">
      Your browser doesn't support iframes
    </iframe>
    
  </body>
</html>
